// *{
//   font-family: 'Lobster', cursive;
//   font-family: 'Noto Sans', sans-serif;
// }
$color1: white;
$color2: #9289FF;
$font1: 'Lobster', cursive;
$font2: 'Noto Sans', sans-serif;

body{
  background-color: $color2;
  h1{
    color: white;
    text-align: center;
    font-family: $font2;
    font-weight: 700;
    padding-top: 30px;
  }
  #wrapper{
    padding-right: 40px;
    padding-left: 40px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    #quote-box{
      background-color: $color1;
      width: 50%;
      border-radius: 15px;
      font-family: $font1;
      padding: 50px;
      #text{
        color: $color2;
      }
      #author{
        @extend #text;
        font-family: $font2;
        font-weight: 400;
        padding: 10px 0 10px 0;
      }
      .btn-group{
        #new-quote{
          background-color: $color2;
          color: $color1;
          border: none;
          border-radius: 10px;
          padding: 10px 15px 10px 15px;
          font-family: $font2;
        }
        #tweet-quote{
          @extend #new-quote;
          margin-left: 10px;
        }
      }
    }
  }
}