// *{
//   font-family: 'Lobster', cursive;
//   font-family: 'Noto Sans', sans-serif;
// }
$color1: white;
$color2: #9289FF;
$font1: 'Lobster', cursive;
$font2: 'Noto Sans', sans-serif;

body{
  background-color: $color2;
  h1{
    color: white;
    text-align: center;
    font-family: $font2;
    font-weight: 700;
    padding: 20px;
  }
  #wrapper{
    padding-right: 40px;
    padding-left: 40px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    #quote-box{
      background-color: $color1;
      width: 50%;
      height: 480px;
      border-radius: 15px;
      font-family: $font1;
    }
  }
}