$color1: white;
$font1: 'Lobster', cursive;
$font2: 'Noto Sans', sans-serif;

body{
  h1{
    color: white;
    text-align: center;
    font-family: $font2;
    font-weight: 700;
    padding-top: 30px;
  }
  #wrapper{
    padding-right: 40px;
    padding-left: 40px;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    #quote-box{
      background-color: $color1;
      max-width: 480px;
      border-radius: 15px;
      font-family: $font1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      #author{
        font-family: $font2;
        font-weight: 400;
        padding: 10px 0 10px 0;
      }
      .btn-group{
        align-self: end;
        display: flex;
        flex-direction: row;
        align-items: center;
        #new-quote{
          color: $color1;
          border: none;
          border-radius: 10px;
          padding: 10px 15px 10px 15px;
          font-family: $font2;
        }
        #tweet-quote{
          @extend #new-quote;
          margin-left: 10px;
        }
        #tweet-quote:hover, #new-quote:hover{
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        }
        .repo{
          text-decoration: none;
          font-family: $font2;
          margin-left: 10px;
        }
      }
    }
  }
  footer{
    text-align: center;
    color: $color1;
    p{
      a{
        text-decoration: none;
      }
    }
  }
}